body {
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table, th, td {
  border: 3px solid rgb(205, 117, 9);
}
/* Definimos la clase para los días y fin de semana */
.dias-semana{
  font-weight: bold;
  color: black;
  font-size: 25px;
  background-color: green;
  }
  .finde {
    font-weight: bold;
    color:black;
    font-size: 25px;
    background-color: red;
    
    }

    .dias {
      font-weight: bold;
      color: black;
      font-size: 25px;
      background-color: white;
    }
    html, body {
      height: 100%;
    }
    
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

